body {
    font-family: helvetica;
    margin: 0 auto;

    max-width: 750px;
    font-size: 0px;
}

@media screen and (min-width: 750px) {
    body {
        width: 750px;
    }
}

body * {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
}

a,
button,
input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input {
    -webkit-appearance: none;
    border-radius: 0;
}

a {
    text-decoration: none;
}

input {
    outline: none;
    vertical-align: middle;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    vertical-align: middle;
}

h3,
h4,
p {
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

html {
    font-size: 9.259259259259261vw;
}
@media screen and (min-width:750px){
    html {
        font-size:69.445px;
    }
}
/* header */
#header{
    /* height: 176/3px; */
    height: calc(176px / 3);
    background: #46ae00;
}

#header h1 img{
   width: calc(517px / 3);
   
}
.bar{
    font-size: 0;
}
.bar a {
    display: inline-block;
    height: calc(176px / 3);
    margin-right: .3rem;
}
.bar a:nth-child(1){
    width: calc(80px / 3);
    background: url(../images/ico_01.png) no-repeat center;
    background-size: 100%;
}

.bar a:nth-child(2) {
    width: calc(85px / 3);
    background: url(../images/ico_02.png) no-repeat center;
    background-size: 100%;
}

/* banner */
#banner{
    height: 5.40rem;
    position: relative;
}
.moveWrap img{
    width: 100%;
}
.control{
    width: 100%;
    position: absolute;
    bottom: 0.34rem;
    font-size: 0;
    text-align: center;
}
.control span{
    display: inline-block;
    width: .24rem;
    height: .24rem;
    background: #dddddd;
    border-radius: 50%;
    margin: 0 .08rem;
}
.control span.active {
    background: #46ae00;
}


/* nav */
#nav{
    padding: .5rem 0;
}
#nav a{
    width: 25%;
    float: left;
    text-align: center;
}
#nav a img{
    width: 1.8rem;
    height: 1.8rem;
    display: block;
    margin: 0 auto .16rem auto;
}

#nav a span {
   font-size: .4rem;
   color: #666;
}

/* ad */

#ad img{
    width: 100%;
}

/* item */


.item{
    display: flex;
    justify-content: space-between;
    background: #f5f5f5;
    padding: .2rem;
    padding-bottom: 0;
}
.pb{
     padding-bottom: 0.2rem;
}
.item div img{
    width: 4.5rem;
    height: 6.4rem;
}
.item div.coloum {
    display: flex;
    width: 5.7rem;
    flex-wrap: wrap;
}

.item div.coloum img{
    width: 5.7rem;
    height: 3.7rem;
}


/* footer */
#footer{
    height: 60px;
    display: flex;
    justify-content: space-around;
    background: #fff;
    margin-top: .2rem;
    box-shadow: 0 -0.06rem 0.06rem  #dcdcdc;
}
#footer img{
    width: calc(160px / 3);
}